@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #FAF9F6;
  --brand: #B48C48;
  --text: #2C241E;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}
